body {
  font-family: 'Roboto';
}

h1, h2, h3 {
  font-family: 'Scope One';
  font-weight: 400;
  margin-bottom: 0;
}

.remark-slide-content h1, h2, h3 {
  margin-top: 0;
  margin-left: 20%;
  color: var(--colour-uol-blue);
}

.remark-slide-content h1 {
  font-size: var(--size-LARGE);
}

.remark-slide-content h2 {
  font-size: var(--size-Large);
}

.remark-slide-content h3 {
  font-size: var(--size-large);
}

.title-slide h1 {
  font-size: var(--size-huge);
}

.title-slide h2 {
  font-size: var(--size-LARGE);
}

.title-slide h3 {
  font-size: var(--size-normalsize);
}

.footnote {
  position: absolute;
  bottom: 0;
  padding-right: 3em;
  font-size: var(--size-footnotesize);
}

ul, ol {
  line-height: 1.5em;
}

.red {
  color: var(--colour-uol-red);
}

.tiny {
  font-size: var(--size-tiny);
}

.scriptsize {
  font-size: var(--size-scriptsize);
}

.footnotesize {
  font-size: var(--size-footnotesize);
}

.small {
  font-size: var(--size-small);
}

.normalsize {
  font-size: var(--size-normalsize);
}

.large {
  font-size: var(--size-large);
}

.Large {
  font-size: var(--size-Large);
}

.LARGE {
  font-size: var(--size-LARGE);
}

.huge {
  font-size: var(--size-huge);
}

.Huge {
  font-size: var(--size-Huge);
}

a, a > code {
  color: var(--colour-uol-red);
  text-decoration: none;
}

a:visited {
  color: var(--colour-uol-red);
}

a:hover {
  color: var(--colour-uol-red);
  text-decoration: underline;
}

a:active, a#active {
  color: var(--colour-uol-red);
}

.title-slide a, a > code, a:visited, a:active, a#active {
  color: var(--colour-white);
}

.title-slide a:hover {
  color: var(--colour-white);
  text-decoration: underline;
}

.back-slide a, a > code, a:visited, a:active, a#active {
  color: var(--colour-uol-red);
}

.back-slide a:hover {
  color: var(--colour-uol-red);
  text-decoration: underline;
}

code {
  background: var(--colour-white);
  border-radius: 5px;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono';
}

.pull-left {
  float: left;
  width: 47.5%;
}

.pull-right {
  float: right;
  width: 47.5%;
}

.pull-right ~ p {
  clear: both;
}

.inverse {
  background: var(--colour-uol-blue);
  color: var(--colour-white);
}

.inverse h1, .inverse h2, .inverse h3 {
  margin-top: 1em;
  margin-left: 0;
  color: var(--colour-white);
  line-height: 1.5em;
}

/* UoL Logo */
.remark-slide-content:after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  height: 15%;
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--uol-logo-full-colour);
}

.inverse:after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  height: 15%;
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--uol-logo-inverse-white);
}

.title-slide:after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  height: 15%;
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--uol-logo-inverse-white);
}

/* Two-column 'nav bar style' layout */
.left-column {
  width: 15%;
  float: left;
  padding-top: 2.5%;
}

.left-column h1, .left-column h2, .left-column h3 {
  color: var(--colour-grey-light);
}

.left-column h2:last-of-type, .left-column h3:last-child {
  font-size: var(--size-LARGE); /* This is the size of the 'highlighted' left bar header; normal h2 is Large */
  color: var(--colour-uol-blue);
}

.right-column {
  width: 70%;
  float: right;
}

/* Slide counter */
.remark-slide-number {
  font-size: var(--size-small);
  margin-bottom: -10px;
  margin-right: 10px;
  color: var(--colour-uol-grey);
}

.inverse .remark-slide-number {
  display: none;
}

.title-slide .remark-slide-number {
  display: none;
}

.back-slide .remark-slide-number {
  display: none;
}

/* Images */
img {
  max-height: 100%;
  max-width: 100%;
}

/* Blockquotes */
blockquote {
  border-left: solid 1px var(--colour-uol-blue);
  padding-left: 1em;
  font-style: italic;
  color: var(--colour-uol-grey);
}

/* Table */
table {
  padding: 0;
  border-collapse: collapse;
}

table tr {
  border-top: 1px solid var(--colour-uol-grey);
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: var(--colour-white);
}

table tr th {
  font-weight: bold;
  border: 1px solid var(--colour-uol-grey);
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid var(--colour-uol-grey);
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}
